certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
cycler==0.11.0
Flask==1.0.3
fonttools==4.33.0
idna==3.3
importlib-metadata==4.11.2
itsdangerous==2.0.1
Jinja2==3.0.3
kiwisolver==1.4.2
MarkupSafe==2.1.0
matplotlib==3.5.1
numpy==1.19.5
opencv-python==4.2.0.32
openvino==2021.4.2
packaging==21.3
Pillow==9.1.0
pyparsing==3.0.8
python-dateutil==2.8.2
requests==2.27.1
scipy==1.7.3
six==1.16.0
torch==1.11.0
torchvision==0.12.0
typing_extensions==4.1.1
urllib3==1.26.9
Werkzeug==2.1.1
wincertstore==0.2
zipp==3.7.0
