<!DOCTYPE html>
<html>
<head>
  <title>PHÁT HIỆN VÀ THEO VẾT NGƯỜI THÔNG QUA VIDEO GIÁM SÁT</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color:powderblue;">
<div class="row">
  <div class="col-sm-4" >
    <h4 style="text-align: center">Sơ đồ tòa nhà</h4>
    <img src="static/sodo.png" alt="sodo" style="width:100%;">
    <img src="static/cam1.png" style="position: absolute; top: 380px;  left: 50px;" width="40" height="40" id="video1Btn" onclick="loadVideo1()" value="Load Video 1" />
    <img src="static/cam2.png" style="position: absolute; top: 300px;  left: 100px;" width="40" height="40" id="video2Btn" onclick="loadVideo2()" value="Load Video 2" />
    <img src="static/cam1.png" style="position: absolute; top: 250px;  left: 50px;" width="40" height="40" id="video3Btn" onclick="loadVideo3()" value="Load Video 3" />
    <img src="static/cam2.png" style="position: absolute; top: 200px;  left: 100px;" width="40" height="40" id="video4Btn" onclick="loadVideo4()" value="Load Video 4" />
    <img src="static/cam2.png" style="position: absolute; top: 160px;  left: 180px;" width="40" height="40" id="video5Btn" onclick="loadVideo5()" value="Load Video 5" />
    <img src="static/cam1.png" style="position: absolute; top: 200px;  left: 230px;" width="40" height="40" id="video6Btn" onclick="loadVideo6()" value="Load Video 6" />
    <button id="toResult" class="button button&#45;&#45;mimas submit-button" ><span>GO >></span></button>
  </div>
  <div class="col-sm-8">
    <center>
        <video id="video" width="675" height="525" controls autoplay loop>
        <source type="video/mp4">
        Your browser does not support the video tag.
        </video>
    </center>
  </div>
</div>

<script type="text/javascript">
    document.getElementById("toResult").onclick = function () {
        location.href = "result";
    };
    function loadVideo1() {
         var videoEl = document.getElementById('video');
         var sourceEl = videoEl.getElementsByTagName('source')[0];
         sourceEl.src = "static/cam1.mp4";
         videoEl.load();
    };
    function loadVideo2() {
     var videoEl = document.getElementById('video');
     var sourceEl = videoEl.getElementsByTagName('source')[0];
     sourceEl.src = "static/cam2.mp4";
     videoEl.load();
    };
        function loadVideo3() {
         var videoEl = document.getElementById('video');
         var sourceEl = videoEl.getElementsByTagName('source')[0];
         sourceEl.src = "static/cam3.mp4";
         videoEl.load();
    };
    function loadVideo4() {
     var videoEl = document.getElementById('video');
     var sourceEl = videoEl.getElementsByTagName('source')[0];
     sourceEl.src = "static/cam4.mp4";
     videoEl.load();
    };
        function loadVideo5() {
         var videoEl = document.getElementById('video');
         var sourceEl = videoEl.getElementsByTagName('source')[0];
         sourceEl.src = "static/cam5.mp4";
         videoEl.load();
    };
    function loadVideo6() {
     var videoEl = document.getElementById('video');
     var sourceEl = videoEl.getElementsByTagName('source')[0];
     sourceEl.src = "static/cam6.mp4";
     videoEl.load();
    };


</script>

</body>
</html>