<!DOCTYPE html>
<html>
<head>
  	<title>PHÁT HIỆN VÀ THEO VẾT NGƯỜI THÔNG QUA VIDEO GIÁM SÁT</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
    <script type=text/javascript> $(function() { $("#mybutton").click(function (event) { $.getJSON('/SomeFunction', { },
    function(data) { }); return false; }); }); </script>
</head>
<body>
	  {% if filename %}
	  		<div style="margin-top: 50px; width: 60%; text-align: center; margin: auto;">
				<img src="{{ url_for('display_image', filename=filename) }}">
			</div>

	  {% endif %}

	  <form method="post" action="/query" enctype="multipart/form-data" style="margin-top: 50px; width: 60%; text-align: center; margin: auto;">
			<dl>
				<p>
					<input type="file" name="file" autocomplete="off" required>
				</p>
			</dl>
			<p>
				<input id="toQuery" type="submit" value="Submit">
			</p>
	  </form>

	  {% if filename %}
	  		<div>
				{% for i in video_files:%}
					<div>
						<h6>{{"CAMERA " + i.split(".")[0][-1]}}</h6>
						<image src="{{url_for('static',filename = 'show/'+"% s" % i)}}" >
						<hr>
					</div>
				{% endfor %}
			</div>

	  {% endif %}


<!--<button id="toQuery" class="float-left submit-button" >To Query Result</button>-->

<!--<script type="text/javascript">-->
<!--    document.getElementById("toQuery").onclick = function () {-->
<!--        location.href = "showquery";-->
<!--    };-->
<!--</script>-->

</body>
</html>